.empty span {
  @apply whitespace-normal;
}

.empty button {
  @apply whitespace-nowrap;
}

@media (min-width: 768px) {
  .empty {
    margin-top: calc(25vh - 60px);
  }

  .empty span {
    @apply whitespace-nowrap;
    font-size: 32px !important;
  }
}
