.arrow::after,
.arrow::before {
  @apply absolute right-0 top-0 origin-right;
  background-color: inherit;
  content: '';
  width: 5px;
  height: 1px;
}

.arrow::after {
  transform: rotate(45deg);
}

.arrow::before {
  transform: rotate(-45deg);
}
