0 4 1 * * ~/exevo-pan/automations/maintenance/flushLogs.sh
0 0 * * 3 ~/exevo-pan/automations/maintenance/backupHistory.sh
0 4 * * 3 ~/exevo-pan/automations/maintenance/backupBosses.sh

#0 9 * * * ~/exevo-pan/automations/updateStatistics.sh
