body{margin:0;}a{text-decoration: none;}ul,ol{list-style-type:none}ul,ol,p,h1,h2,h3,h4,h5,h6{padding: 0;margin: 0;}fieldset{border: none;margin-inline-start: unset;margin-inline-end: unset;padding-block-start: unset;padding-inline-start: unset;padding-inline-end: unset;padding-block-end: unset;min-inline-size: unset;}figure{margin:0;}*{box-sizing: border-box;}

html * {
    font-size: 12px;
}

html, body, #root {
    overflow-x: hidden;
}

.pushable-item {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.pushable-item:not(.active) {
    transform: translateX(-110%) !important;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}

.light-theme {
    --background: #EEEEEE;
    --surface: #FFFFFF;
    --onSurface: #000000;
    --separator: #B4B4B4;
    --primary: #3F51B5;
    --onPrimary: #FFFFFF;
    --primaryVariant: #C5CAE9;
    --green: #377712;
    --red: #C51313;
    --alert: #F9EEC1;
    --battleGreen: #43B600;
    --battleYellow: #FFDD00;
}

.dark-theme {
    --background: #202225;
    --surface: #36393F;
    --onSurface: #FFFFFF;
    --separator: #72767D;
    --primary: #9857E7;
    --onPrimary: #FFFFFF;
    --primaryVariant: #5E4480;
    --green: #5A9935;
    --red: #FF5B5B;
    --alert: #F9EEC1;
    --battleGreen: #43B600;
    --battleYellow: #FFDD00;
}

svg {
    transition: fill 0.2s ease-out;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src:
        url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('../assets/fonts/Roboto-Regular.woff') format('woff'),
        url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src:
        url('../assets/fonts/Roboto-Light.woff2') format('woff2'),
        url('../assets/fonts/Roboto-Light.woff') format('woff'),
        url('../assets/fonts/Roboto-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    src:
        url('../assets/fonts/Roboto-Medium.woff2') format('woff2'),
        url('../assets/fonts/Roboto-Medium.woff') format('woff'),
        url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src:
        url('../assets/fonts/Roboto-Bold.woff2') format('woff2'),
        url('../assets/fonts/Roboto-Bold.woff') format('woff'),
        url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-display: swap;
}

.custom-scrollbar::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
    background-color: var(--primaryVariant);
    border-radius: 2px;
}

.custom-scrollbar,
html {
    scrollbar-color: var(--primaryVariant) transparent;
    scrollbar-width: thin;
}

.shadow {
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.14);
}

.clickable {
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-out;
}

.clickable:hover {
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.14);
}

.clickable:active {
    box-shadow: inset 2px 2px rgba(0,0,0,.14);
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

.negative-container {
    margin-left: -20px;
    margin-right: -20px;
}

.inner-container {
    padding-left: 20px;
    padding-right: 20px;
}

@media(min-width: 768px) {
    html * {
        font-size: 16px;
    }

    .container {
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .negative-container {
        margin-left: -40px;
        margin-right: -40px;
    }
    
    .inner-container {
        padding-left: 40px;
        padding-right: 40px;
    }
}