@tailwind components;
@tailwind utilities;

@layer components {
  .button-component {
    @apply bg-primary active:bg-primary child:fill-onPrimary rounded-xl py-3 px-6 text-2xl;
  }

  .grid-background {
    background: rgb(var(--primaryVariantHighlight));
    background-image: linear-gradient(
        rgb(var(--primaryVariant)) 2px,
        transparent 2px
      ),
      linear-gradient(90deg, rgb(var(--primaryVariant)) 2px, transparent 2px),
      linear-gradient(rgb(var(--primaryVariant)) 1px, transparent 1px),
      linear-gradient(90deg, rgb(var(--primaryVariant)) 1px, transparent 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    @apply transition-colors;
  }

  .loading-spinner {
    border-top: 3px solid rgb(var(--primary));
    border-right: 3px solid transparent !important;
    border-left: 3px solid rgb(var(--primary));
    border-bottom: none !important;
    @apply inline-block h-6 w-6 rounded-full;
    animation: spinAnimation 1.4s infinite ease-out;
  }

  .animated-background {
    background: linear-gradient(
      270deg,
      rgb(var(--primaryVariantHighlight)),
      rgb(var(--primaryVariant))
    );
    background-size: 800% 800%;
    animation: animatedBg 3s ease-out infinite;
  }

  .card {
    @apply bg-surface text-onSurface rounded p-3 text-xs font-normal shadow-md;
  }

  .code {
    @apply bg-background text-tsm text-onSurface inline-block cursor-text rounded-md py-1.5 px-3;
    font-family: monospace;
  }

  .clickable {
    @apply cursor-pointer transition-shadow hover:shadow-md active:shadow-inner;
  }

  .container {
    @apply mx-5 md:mx-10 lg:mx-24 xl:mx-44;
  }

  .negative-container {
    @apply -mx-5 md:-mx-10 lg:-mx-24 xl:-mx-44;
  }

  .inner-container {
    @apply px-5 md:px-10 lg:px-24 xl:px-44;
  }

  .inner-padding {
    @apply px-5 md:px-10;
  }

  .absolute-centered {
    @apply absolute top-1/2 left-1/2;
    transform: translate(-50%, -50%);
  }

  .custom-scrollbar {
    scrollbar-color: rgb(var(--primaryVariant)) transparent;
    scrollbar-width: thin;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply h-1.5 w-1.5 rounded-sm bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primaryVariant rounded-sm;
  }
}

@layer utilities {
  .reset-spinner::-webkit-inner-spin-button,
  .reset-spinner::-webkit-outer-spin-button {
    display: none;
  }

  .reset-spinner {
    -moz-appearance: textfield;
  }

  .styled-link a {
    @apply text-primaryHighlight text-s font-normal;
  }

  .invisible-caption caption {
    @apply sr-only;
  }

  /* @ ToDo: remove these once `brightness` utility is fixed */
  .highlight-10 {
    filter: brightness(110%);
  }

  .highlight-30 {
    filter: brightness(130%);
  }
}

:root {
  --background: 238 238 238;
  --surface: 255 255 255;
  --onSurface: 0 0 0;
  --separator: 180 180 180;
  --primary: 63 81 181;
  --primaryHighlight: 82 105 235;
  --darkerPrimary: 50 61 142;
  --onPrimary: 255 255 255;
  --primaryVariant: 197 202 233;
  --primaryVariantHighlight: 231 232 238;
  --green: 55 119 18;
  --greenHighlight: 71 155 23;
  --red: 197 19 19;
  --primaryAlert: 251 191 36;
  --primaryVariantAlert: 255 237 213;
  --onAlert: 146 64 14;
  --battleGreen: 67 182 0;
  --battleYellow: 255 221 0;
  --kwai: 255 119 5;
  --kwaiSurface: 255 247 240;
  --kwaiVariant: 255 198 150;
  --black: 0 0 0;
  --rare: 255 90 128;
}

html[data-theme='dark'] {
  --background: 32 34 37;
  --surface: 54 57 63;
  --onSurface: 255 255 255;
  --separator: 114 118 125;
  --primary: 139 99 227;
  --primaryHighlight: 230 165 255;
  --darkerPrimary: 88 31 155;
  --onPrimary: 255 255 255;
  --primaryVariant: 102 75 128;
  --primaryVariantHighlight: 120 105 128;
  --green: 90 153 53;
  --greenHighlight: 117 199 69;
  --red: 255 91 91;
  --primaryAlert: 251 146 60;
  --primaryVariantAlert: 254 215 170;
  --onAlert: 154 52 18;
  --battleGreen: 67 182 0;
  --battleYellow: 255 221 0;
  --kwai: 255 119 5;
  --kwaiSurface: 69 61 60;
  --kwaiVariant: 153 95 46;
  --black: 0 0 0;
  --rare: 255 179 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  @apply custom-scrollbar text-onSurface bg-background;
}

::selection {
  @apply text-onSurface bg-primaryVariant;
}

::before,
::after {
  --tw-content: '';
}

main {
  @apply flex-grow;
}

svg {
  @apply transition-colors;
}

textarea {
  font-family: inherit;
}

.content-wrapper code {
  @apply code text-s py-0.5 px-2 tracking-wider;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animatedBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
