@tailwind components;
@tailwind utilities;

@layer components {
  .loading-spinner {
    @apply before:bg-primary after:bg-background relative h-6 w-6 rounded-full transition-opacity before:absolute before:top-0 before:left-0 before:h-1/2 before:w-1/2 before:rounded-tl-full after:absolute after:top-0 after:left-0 after:bottom-0 after:right-0 after:m-auto after:h-3/4 after:w-3/4 after:rounded-full;

    /* @ ToDo: remove this 'tw' prefix */
    background: linear-gradient(
      to right,
      rgb(var(--tw-primary)) 10%,
      rgba(255, 255, 255, 0) 42%
    );
    animation: spinAnimation 1.4s infinite ease-out;
  }

  .animated-background {
    /* @ ToDo: remove this 'tw' prefix */
    background: linear-gradient(
      270deg,
      rgb(var(--tw-primaryVariantHighlight)),
      rgb(var(--tw-primaryVariant))
    );
    background-size: 800% 800%;
    animation: animatedBg 3s ease-out infinite;
  }

  /* @ ToDo: remove this once `raw` image type is available */
  .warning-icon {
    transform: translate(1px, -1px) scale(0.75);
  }

  .card {
    @apply bg-surface text-onSurface rounded p-3 text-xs font-normal shadow-md;
  }
}

@layer utilities {
  .sprite-offset span {
    @apply !-ml-6 !-mt-6;
  }

  .tab-icon-style svg {
    @apply mt-[-1px] h-4 w-4;
  }

  .styled-link a {
    @apply text-primaryHighlight text-s font-normal;
  }

  .invisible-caption caption {
    @apply sr-only;
  }

  .radio-wrapper:active .inner-radio {
    @apply shadow-inner;
  }

  /* @ ToDo: remove these once `brightness` utility is fixed */
  .highlight-10 {
    filter: brightness(110%);
  }

  .highlight-30 {
    filter: brightness(130%);
  }

  .clickable {
    @apply cursor-pointer transition-shadow hover:shadow-md active:shadow-inner;
  }

  .code {
    @apply bg-background inline-block cursor-text rounded-md py-1.5 px-3 font-mono text-xs;
  }

  .container {
    @apply mx-5 md:mx-10 lg:mx-24 xl:mx-44;
  }

  .negative-container {
    @apply -mx-5 md:-mx-10 lg:-mx-24 xl:-mx-44;
  }

  .inner-container {
    @apply px-5 md:px-10 lg:px-24 xl:px-44;
  }

  .inner-padding {
    @apply px-5 md:px-10;
  }

  .custom-scrollbar {
    /* @ ToDo: remove this 'tw' prefix */
    scrollbar-color: rgb(var(--tw-primaryVariant)) transparent;
    scrollbar-width: thin;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply h-1.5 w-1.5 rounded-sm bg-transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primaryVariant rounded-sm;
  }
}

:root {
  --background: #eeeeee;
  --surface: #ffffff;
  --onSurface: #000000;
  --separator: #b4b4b4;
  --primary: #3f51b5;
  --primaryHighlight: #5269eb;
  --darkerPrimary: #323d8e;
  --onPrimary: #ffffff;
  --primaryVariant: #c5cae9;
  --primaryVariantHighlight: #e7e8ee;
  --green: #377712;
  --greenHighlight: #479b17;
  --red: #c51313;
  --alert: #f9eec1;
  --battleGreen: #43b600;
  --battleYellow: #ffdd00;
  --kwai: #ff7705;
  --kwaiSurface: #fff7f0;
  --kwaiVariant: #ffc696;

  /* @ ToDo: remove this 'tw' prefix */
  --tw-background: 238 238 238;
  --tw-surface: 255 255 255;
  --tw-onSurface: 0 0 0;
  --tw-separator: 180 180 180;
  --tw-primary: 63 81 181;
  --tw-primaryHighlight: 82 105 235;
  --tw-darkerPrimary: 50 61 142;
  --tw-onPrimary: 255 255 255;
  --tw-primaryVariant: 197 202 233;
  --tw-primaryVariantHighlight: 231 232 238;
  --tw-green: 55 119 18;
  --tw-greenHighlight: 71 155 23;
  --tw-red: 197 19 19;
  --tw-alert: 249 238 193;
  --tw-battleGreen: 67 182 0;
  --tw-battleYellow: 255 221 0;
  --tw-kwai: 255 119 5;
  --tw-kwaiSurface: 255 247 240;
  --tw-kwaiVariant: 255 198 150;
  --tw-black: 0 0 0;
}

html[data-theme='dark'] {
  --background: #202225;
  --surface: #36393f;
  --onSurface: #ffffff;
  --separator: #72767d;
  --primary: #9857e7;
  --primaryHighlight: #c671ff;
  --darkerPrimary: #581f9b;
  --onPrimary: #ffffff;
  --primaryVariant: #5e4480;
  --primaryVariantHighlight: #714ca1;
  --green: #5a9935;
  --greenHighlight: #75c745;
  --red: #ff5b5b;
  --alert: #f9eec1;
  --battleGreen: #43b600;
  --battleYellow: #ffdd00;
  --kwai: #ff7705;
  --kwaiSurface: #453d3c;
  --kwaiVariant: #995f2e;

  /* @ ToDo: remove this 'tw' prefix */
  --tw-background: 32 34 37;
  --tw-surface: 54 57 63;
  --tw-onSurface: 255 255 255;
  --tw-separator: 114 118 125;
  --tw-primary: 152 87 231;
  --tw-primaryHighlight: 198 113 255;
  --tw-darkerPrimary: 88 31 155;
  --tw-onPrimary: 255 255 255;
  --tw-primaryVariant: 94 68 128;
  --tw-primaryVariantHighlight: 113 76 161;
  --tw-green: 90 153 53;
  --tw-greenHighlight: 117 199 69;
  --tw-red: 255 91 91;
  --tw-alert: 249 238 193;
  --tw-battleGreen: 67 182 0;
  --tw-battleYellow: 255 221 0;
  --tw-kwai: 255 119 5;
  --tw-kwaiSurface: 69 61 60;
  --tw-kwaiVariant: 153 95 46;
  --tw-black: 0 0 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  @apply custom-scrollbar text-onSurface bg-background;
}

::selection {
  @apply text-onSurface bg-primaryVariant;
}

::before,
::after {
  --tw-content: '';
}

main {
  @apply flex-grow;
}

svg {
  @apply transition-colors;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animatedBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
